.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}
.lsItem > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 3;
}

.dialog-container {
  width: 100%; /* Adjust the width as needed */
  position: relative;
  z-index: 9999; /* Ensure a high z-index to appear on top */
}

.dialog-content {
  display: flex;
  flex-direction: column;
}

.date-picker-wrapper {
  display: flex;
  justify-content: space-between;
}

.date-picker-wrapper > div {
  flex: 1;
  margin-right: 10px; /* Adjust margin between date pickers */
}

/* Adjust styles for date picker components as needed */

/* Ensure date picker components appear above the modal overlay */
.react-datepicker-wrapper {
  z-index: 9999; /* Adjust z-index as needed */
}

/* Position date picker dropdown relative to its wrapper */
.react-datepicker {
  position: absolute;
}

/* Adjust date picker dropdown positioning to prevent cutting off */
.react-datepicker__triangle {
  top: auto;
  bottom: 100%;
}

/* Adjust any other styles as needed */
